h1 {
    text-align: center;
}

.center {
    text-align: center;
}
/* Styling for the navigation bar */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #e0e0e0;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
.navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
}

.navbar a:hover {
  background-color: #ccc;
  border-radius: 5px;
}

/* Styling for about-us page */
.section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 30px;
}
.text {
  flex: 1;
  min-width: 250px;
  margin-right: 20px;
}


.content {
  text-align: center;
  padding: 20px;
}
.member-section {
  margin-top: 20px;
}
.member-section img {
  width: 500px;
  height: 500px;
  background-color: #d3d3d3;
  display: block;
  margin: 10px auto;
  border: 2px solid #ccc;
}
.member-section .info {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}